// Custom Variables //
$primaryFont: 'montserrat';


// Set Colors
$black: #000000;
$white: #ffffff;
$iPrimary: #100449;
$iGray: #8f8f8f;
$iBlack: #3c3f40;
$iYellow: #fdc340;
$iGreen: #75b349;
$iBlue: #009fdc;
$iMagenta: #b9287e;


// Media Sizes
$vpdesktopMin: "(min-width:2100px)";
$vpMddesktop: "(max-width:1700px)";
$vpdesktop: "(max-width:1400px)";
$vptabletL: "(max-width:1229px)";
$vptabletP: "(max-width:991px)";
$vpmobile: "(max-width:767px)";
$vpsmmobile: "(max-width:400px)";
$vpxsmobile: "(max-width:359px)";